body
{
background-repeat:no-repeat;
background:url("https://pix10.agoda.net/hotelImages/110648/-1/2835bd843f58e3c99f9404f277183338.jpg?s=1024x768");
height:100px;
background-size:cover;
}

.myDiv {
  border: 25px outset #ffff99;
  text-align: center;
  body align: center;
  padding: 70px 0;
  width: 500px;
  margin: auto;
  foreground-color:#003399;
  opacity: 1;

}